/* variable declarations */
:root {
    --myapp-color-background: white;
    --myapp-default-space: 10px;

    /* for the button in the header and footer */
    --myapp-imgbutton-size: 40px;
    --myapp-imgbutton-img-size: 25px;

    --myapp-header-color-border-line: gray;
    --myapp-header-height: 50px;
    --myapp-header-font-size: 18pt;
    /*--myapp-header-background: rgb(60, 60, 60);*/
    --myapp-header-border-radius: 3px;
    --myapp-header-background: var(--myapp-color-background);



    --myapp-footer-color-border-line: orange;
    --myapp-footer-height: 40px;
    /*--myapp-footer-background: rgb(15, 15, 15);*/
    --myapp-footer-border-radius: 3px;
    --myapp-footer-background: var(--myapp-color-background);


    /* for main block */

    /*--myapp-main-background: rgb(45, 45, 45);*/
    --myapp-main-background: var(--myapp-color-background);

    --myapp-li-color-title: black;
    --myapp-li-color-default: grey;
    --myapp-li-height: 70px;
    --myapp-li-font-size: 12px;
    /*--myapp-li-bordercolor: rgb(120, 120, 120);*/
    --myapp-li-bordercolor: grey;
    --myapp-li-imagesize: 50px;
    --myapp-li-imgbutton-list-options: 18px;

    /* fading animation */
    --myapp-display-transition-duration: 1s;
    --myapp-fading-transition-duration: 2s;
}


/* block text selection */
* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}



/*
 * main structure
 */

/* Applies styles to both the <html> and <body> elements. */
html, body {
    background-color: var(--myapp-color-background);
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}


/* base structure */
header {
    height: calc(var(--myapp-header-height) - var(--myapp-header-border-radius));
    background-color: var(--myapp-header-background);
    /*padding: var(--myapp-default-space);*/
    border-bottom: var(--myapp-header-border-radius) solid var(--myapp-header-color-border-line);

}

/*
Diese Zuweisung brachte die Höhenberechnung für das main-Element durcheinander, das ja den "Rest" der Vertikale erhalten soll, nachdem die Höhe von Header und Footer fix zugewiesen wurde. Die Höhe, die wir mittels calc() dem main-Element zuweisen, wird jedoch - ohne weiteres Zutun unsererseits - auf den Content-Bereich des main-Elements angewendet, d.h. den Bereich innerhalb des Paddings.
Die Lösung besteht daher darin, dass wir mittels der box-sizing Property die Höhenzuweisung wie folgt ausdrücklich auf die border-box (die Content+Padding umfasst) beziehen:
 */
main {
    height: calc(100% - (var(--myapp-header-height) + var(--myapp-footer-height)));
    background-color: var(--myapp-main-background);
    /*padding: var(--myapp-default-space);*/
    overflow-y: scroll; /* Allows vertical scrolling */
    box-sizing: border-box; /* Ensures padding is included in height calculation. Crucial line: ensures that the height includes the padding (and borders, if any), so the content area does not accidentally overflow the allocated space.*/

}

footer {
    height: calc(var(--myapp-footer-height) - var(--myapp-footer-border-radius));
    background-color: var(--myapp-footer-background);
    border-top: var(--myapp-footer-border-radius) solid var(--myapp-footer-color-border-line);
}

.myapp-align-left {
    float: left;
}

.myapp-align-right {
    float: right;
}

/*
* image and common image style
 */

/* buttons image in header*/
.myapp-img-menu {
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-plus {
    background-image: url("./img/png/add_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-tile {
    background-image: url("./img/png/grid_view_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-list {
    background-image: url("./img/png/list_FILL0_wght400_GRAD0_opsz24.png");
}

/* buttons image in main*/

.myapp-img-option {
    background-image: url("./img/png/more_vert_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-play-arrow {
    background-image: url("./img/png/play_arrow_FILL0_wght400_GRAD0_opsz24.png");
}


/* buttons image in footer*/
.myapp-img-logout {
    background-image: url("./img/png/logout_FILL0_wght400_GRAD0_opsz24.png");
}

.myapp-img-refresh {
    background-image: url("./img/png/sync_FILL0_wght400_GRAD0_opsz24.png");
}


/* imgbutton */
.myapp-imgbutton {
    background-color: transparent;
    border: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    height: var(--myapp-imgbutton-size);
    width: var(--myapp-imgbutton-size);
    /*background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");*/
    filter: invert(60%);  /* Inverts the color of the image */
    -webkit-filter: invert(60%);

    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    background-size: var(--myapp-imgbutton-img-size) var(--myapp-imgbutton-img-size); /* Sets the size of the image */
}



/*
* Element in Header
*/
header h1 {
    margin: 0; /* Removes default margin from h1 */
    /*padding-left: var(--myapp-default-space);*/
    height: 100%; /* Makes the h1 as tall as its parent container */
    line-height: var(--myapp-header-height); /* Aligns text vertically by setting line height equal to header height */
    font-size: var(--myapp-header-font-size); /* Uses a custom property for font size */
    text-transform: uppercase;
    display: inline-block; /* Allows the h1 to be treated as a block element */
}

/* set hte poistion of image im the middle of entire height of container*/
header .myapp-imgbutton {
    margin-top: calc((var(--myapp-header-height) - var(--myapp-imgbutton-size)) / 2);
}



/*
Element in footer
 */

footer .myapp-imgbutton {
    margin-top: calc((var(--myapp-footer-height) - var(--myapp-imgbutton-size)) / 2);
}


/*
* Element in list in Main Element
*/

/* grauer Puffer */
main .puffer {
    padding: 10px;
    background-color: #d9d8d8;
}

main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main ul li {
    margin: 0;
    padding: 0;
    height: var(--myapp-li-height);
    border-top: 1px solid var(--myapp-li-bordercolor);
    overflow: visible; /* or auto */
    color: var(--myapp-li-color-default);
    font-size: var(--myapp-li-font-size);
}

/* Remove the top border from the first item */
main ul li:first-child {
    border-top: none;
}

/* add the bottom border from the last item */
main ul li:last-child {
    border-bottom: 1px solid var(--myapp-li-bordercolor);
}

main li .image {
    float: left;
    height: var(--myapp-li-imagesize);
    width: var(--myapp-li-imagesize);
    margin-top: calc((var(--myapp-li-height) - var(--myapp-li-imagesize)) /2 );
    margin-right: var(--myapp-default-space);
    margin-left: var(--myapp-default-space);
}

main li .image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area of its container */
}

main li .wrapper {
    display: block;
    overflow: hidden;
    /*text-overflow: ellipsis; !* Adds "..." at the end of the text if it overflows *!*/
    /*white-space: nowrap;*/

    margin-top: calc((var(--myapp-li-height) - var(--myapp-li-imagesize)) /2 );
    margin-right: var(--myapp-default-space);
    max-width: calc(100% - (var(--myapp-li-imagesize)  + 3*var(--myapp-default-space))); /* Sets the maximum width of the text */
}

main li .row-top{

}

/* clearfix for the floated elements.  This ensures that the parent element (li) expands to contain its floated children (image, owner, date). otherwise the li element would collapse to zero heigh,  because the floated elements are taken out of the normal flow of the document. */
main li .row-top::after {
    content: "";
    display: block;
    clear: both;
}

main li .owner {
    /*margin-top: calc((var(--myapp-li-height) - var(--myapp-li-imagesize)) / 2.5);*/
    float: left;
    font-size: 0.9em;
}

main li .date {
    float: right;
    font-size: 0.9em;
}

main li .title {
    margin: 4px 0 4px 0;
    color: var(--myapp-li-color-title);
    font-size: 1.1em;
    font-weight: normal;
    clear: both; /* Ensures the title appears below the floated elements */

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block; /* required for ellipsis to work */
}

main li .title::after {
    content: "";
    display: block;
    clear: both;
}

main li .row-bottom {

}

main li .row-bottom::after {
    content: "";
    display: block;
    clear: both;
}

main li .tags {
    float: left;
    height: 100%;
    line-height: 100%;
}

main li .tags-icon {
    display: inline-block;
    vertical-align: middle;
}


main li .tags-value {
    display: inline-block;
    vertical-align: middle; /* (h) centered with icon */
}

main li .options {
    float: right;
    height: var(--myapp-li-imgbutton-list-options);
    width: var(--myapp-li-imgbutton-list-options);
}


/*main ul li h2 {*/
/*    color: var(--myapp-li-color-title);*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    !*height: 100%; !* Makes the h2 as tall as its parent container *!*!*/

/*    !* When an element contains only one line of text, and The line-height is set equal to the element's height, amd There’s no additional padding, borders, or vertical alignment tweaks. Then the text will appear vertically centered inside the element. Imagine line-height as the height of a mattress, and the text is lying on that mattress. If the mattress fills the entire box (same height as the element), the text will lie right in the center vertically. *!*/
/*    !*line-height: var(--myapp-li-height); *!*/

/*    !*margin-left: var(--myapp-default-space);*!*/

/*    !* h2 ist blockelement in default. blockelement takes full width of its parent container. The edit button will be set under of the h2 element if it is set as a blockelement. *!*/
/*    !*display: inline-block; *!*/

/*    font-size: var(--myapp-li-title-font-size);*/
/*    font-weight: normal;*/


/*    !* img + text is zu lange, dann umbruch. try to aviod it *!*/
/*    text-overflow: ellipsis; !* Adds "..." at the end of the text if it overflows *!*/
/*    white-space: nowrap;*/
/*    overflow: hidden; !* Hides the overflow. This is important to make the ellipsis work *!*/
/*    max-width: calc(100vw - (var(--myapp-li-imagesize)  + var(--myapp-imgbutton-size) + 4* var(--myapp-default-space))); !* Sets the maximum width of the text *!*/
/*    !*min-width: 0;*!*/
/*}*/

/*
* Kachelansicht: Tiles-mode
*/

/*.myapp-tiles ul li * {*/
/*    display: none;*/
/*}*/

.myapp-tiles ul {

    /*
    how many tiles should fit in a single row (e.g. 3).
    */
    --myapp-tiles-per-line: 3;
}

.myapp-tiles ul li .hide {
    display: none;
}

.myapp-tiles ul li {
    display: inline-block;


    /*
    You're defining a CSS variable --myapp-tiles-per-line inside the <li> element, but trying to use it within the same element to calculate its own width (--myapp-tiles-size). This won't work as expected in your responsive design because CSS variables defined inside a selector like .myapp-tiles li are scoped to its descendants, not to the element itself.
     */
    /*--myapp-tiles-per-line: 3;*/

    /* Breite und Höhe der Liste:
    ( Bereite der Anzeigeflaesche - ( (Anzahl der Kacheln pro Zeile + 1)* Breite eines einzelnen Abstand) )/ Anzahl der Kacheln Pro Zeile

     ( var(--myapp-tiles-per-line) + 1 ) * var(--myapp-default-space)
= total space taken by gaps between tiles (including the gap before the first and after the last tile).

    Subtract that total gap width from 100vw.

    Divide the remaining space by the number of tiles to get the width of each tile.

     */
    --myapp-tiles-size: calc((100vw - (( var(--myapp-tiles-per-line) + 1 ) * var(--myapp-default-space)))/var(--myapp-tiles-per-line));

    height: var(--myapp-tiles-size);
    width: var(--myapp-tiles-size);

    margin-left: var(--myapp-default-space);
    margin-top: var(--myapp-default-space);
    border: none;
    float: left;
    position: relative;
}


/* remove the bottom border from the last item */
.myapp-tiles ul li:last-child {
    border-bottom: none;
}

.myapp-tiles ul li .image {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
}

.myapp-tiles ul li .options{
    display: block;
    filter: invert(90%);
    -webkit-filter: invert(90%);

    position: absolute;
    bottom: 5%;
    right: 5%;
}


/*
* Responsive design
*/

@media (min-width: 200px) {
    .myapp-tiles ul {
        --myapp-tiles-per-line: 2;
    }
}

@media (min-width: 400px) {
    .myapp-tiles ul {
        --myapp-tiles-per-line: 4;
    }
}

@media (min-width: 600px) {
    .myapp-tiles ul {
        --myapp-tiles-per-line: 5;
    }
}

@media (min-width: 800px) {
    .myapp-tiles ul {
        --myapp-tiles-per-line: 8;
    }
}

@media (min-width: 1000px) {
    .myapp-tiles ul {
        --myapp-tiles-per-line: 10;
    }
}

/*
* fading animation
*/

/*
main.myapp-faded: Select any <main> element that has the class myapp-faded.
main .myapp-faded: Select any element with class myapp-faded that is inside a <main> element (any depth).
*/
main.myapp-faded {
    opacity: 0;

    /* Fading effect: Verzoegerung, Angleichung, Transition. Uebergang einer Menge von Systle Property Zuweisuyng von einem Ausgangswert*/
    /* when it is not given, no transition event happens */
    transition: opacity var(--myapp-fading-transition-duration);
}

main {
    opacity: 1;
    transition: opacity var(--myapp-display-transition-duration);
}










